body{
    background-color: antiquewhite;
}
button{
    display: block;
    margin: auto;
    background-color: aqua;
    color:rgb(12, 11, 11);
    border:1px,solid,rgb(12, 12, 12);
    border-radius: 8px;
    padding:6px;
}
button:hover{
    color:white;
}
button:visited{
    background-color: black;
};
